.login-card {
    /* background: #fff; */
    width: 24rem;
    /* box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.11); */
    margin-top: 1em;
    color: #fff; 
    text-transform: uppercase;
}
.signup-card, .login-card {
    margin-top: 10em;
}

.login-card .card-title {
    background-color: #474f70;
    padding: 2rem;
}

.login-card .card-title h1 {
    color: #fff;
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

.login-card .content {
    padding: 3rem 2.5rem 4rem;
}

.navbar-item input {
    margin-bottom: 0 !important;
}

input {
    width: 100%;
    color: #fff;
    display: block;
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 1.75rem;
    padding: 0.25rem 0;
    border: none;
    border-bottom: 1px solid #dbdbdb;
    transition: all 0.5s;
    background: transparent;
    text-transform: none !important;
}

input:hover {
    border-color: #7a7a7a;
}

input:active {
    border-color: #474f70;
}

textarea {
    width: 100%;
    font-size: 1rem;
    margin-bottom: 1.75rem;
    padding: 0.25rem 0;
    border: none;
    border-bottom: 1px solid #dbdbdb;
    transition: all 0.5s;
    resize: none;
}

textarea:hover {
    border-color: #7a7a7a;
}

textarea:active {
    border-color: #474f70;
}

.login-card .checkbox {
    color: #b5b5b5;
    font-size: 0.8rem;
}

.login-card .checkbox span {
    margin-left: 0.5rem;
}

.login-card a {
    font-size: 0.8rem;
}

.login-card .options {
    color: #b5b5b5;
    margin-bottom: 1.5rem;
}

/* .login-card button {
    cursor: pointer;
    font-size: 1.2rem;
    color: #474f70;
    border-radius: 4rem;
    display: block;
    width: 100%;
    background: transparent;
    border: 2px solid #474f70;
    padding: 0.9rem 0 1.1rem;
    transition: color 0.5s, border-color 0.5s;
}

.login-card button:hover,
.login-card button:focus {
    color: rgb(42, 48, 68);
    border-color: rgb(42, 48, 68);
}

.login-card button:active {
    transform: translateY(1px);
} */

label {
    cursor: pointer;
}

.regular-checkbox {
    display: none;
}

.regular-checkbox + label {
    background-color: #fafafa;
    border: 1px solid #dbdbdb;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    padding: 7px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.button {
    margin: 1em auto;
}
