<div>
    <nav class="level">
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Members</p>
                <p class="title">{{users | length}}</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Banned Members</p>
                <p class="title">123</p>
            </div>
        </div>
    </nav>
</div>