{% extends "base.html.twig"%}

{% block title %}

    Home | Zing
{% endblock %}

{% block body %}
    {% include 'components/navbar.html.twig' %}

    <div class="container">
        <div class="quick-links">
            <div class="columns">

                <div class="column is-one-fifth">

                    <div class="box level has-text-centered">
                        <div class="level-item has-text-centered">
                            <p class="image is-32x32">
                                <img src="/img/svg/diy.svg">
                            </p>
                        </div>
                        <div class="level-item has-text-left">
                            <h1>DIY</h1>
                        </div>
                    </div>

                </div>
                <div class="column is-one-fifth">
                    <div class="box level has-text-centered">
                        <div class="level-item has-text-centered">
                            <p class="image is-32x32">
                                <img src="/img/svg/home.svg">
                            </p>

                        </div>
                        <div class="level-item has-text-left">

                            <h1>Home</h1>
                        </div>

                    </div>
                </div>
                <div class="column is-one-fifth">
                    <div class="box level has-text-centered">
                        <div class="level-item has-text-centered">
                            <p class="image is-32x32">
                                <img src="/img/svg/love.svg">
                            </p>

                        </div>
                        <div class="level-item has-text-left">

                            <h1>Love</h1>
                        </div>

                    </div>
                </div>
                <div class="column is-one-fifth">
                    <div class="box level has-text-centered">
                        <div class="level-item has-text-centered">
                            <p class="image is-32x32">
                                <img src="/img/svg/cooking.svg">
                            </p>

                        </div>
                        <div class="level-item has-text-left">

                            <h1>Cooking</h1>
                        </div>

                    </div>
                </div>
                <div class="column is-one-fifth">
                    <div class="box level has-text-centered">
                        <div class="level-item has-text-centered">
                            <p class="image is-32x32">
                                <img src="/img/svg/fitness.svg">
                            </p>

                        </div>
                        <div class="level-item has-text-left">

                            <h1>Fitness</h1>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="columns">
                <div class="column is-three-quarters">
                    <div class="box ">
                        <div class="box is-clearfix">
                            {% include 'components/question.html.twig'
                            with {
                                'username' : 'Caitie'
                            } %}

                        </div>
                    </div>
                </div>
                <div class="column is-one-quarter side-bar">
                    <div class="box"></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}