{% extends "base.html.twig"%}

{% block title %}

    Home | Zing
{% endblock %}

{% block body %}
    {% include 'components/navbar.html.twig' %}

    <div class="container">
        <div class="quick-links">
            <div class="columns">
                <div class="column is-one-fifth">
                    <div class="box has-text-centered">
                        <h1>For you</h1>
                    </div>
                </div>
                <div class="column is-one-fifth">
                    <div class="box has-text-centered">
                        <h1>Ask a dad</h1>
                    </div>
                </div>
                <div class="column is-one-fifth">
                    <div class="box has-text-centered">
                        <h1>Ask a mom</h1>
                    </div>
                </div>
                <div class="column is-one-fifth">
                    <div class="box has-text-centered">
                        <h1>blah</h1>
                    </div>
                </div>
                <div class="column is-one-fifth">
                    <div class="box has-text-centered">
                        <h1>blah</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="columns">
                <div class="column is-three-quarters">
                    <div class="box ">
                        <div class="box is-clearfix">
                            {% include 'components/question.html.twig'
                            with {
                                'username' : 'Caitie'
                            } %}
                            {% include 'components/reply.html.twig' %}

                        </div>
                    </div>
                </div>
                <div class="column is-one-quarter side-bar">
                    <div class="box"></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}