{% extends "base.html.twig"%}

{% block title %}

    Register | Zing
{% endblock %}

{% block body %}

    <nav class="navbar is-light is-fixed-bottom" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="">
                <img src="img/logo.png" width="45">
            </a>
        </div>
    </nav>

    <div id="login" class="is-halfheight">
        <div class="login-card">

            <div class="card-title">
                <h1>Upload a picture</h1>
            </div>

            <div class="content columns is-centered">

                {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                <div class="file column is-centered">
                    <label class="file-label">
                        {{ form_row(form.file) }}
                        <span class="file-cta">
                            <span class="file-icon">
                                <i class="fas fa-upload"></i>
                            </span>
                            <span class="file-label">
                                Choose a file…
                            </span>
                        </span>
                    </label>
                </div>

                {{ form_end(form) }}
            </div>
            <a href="{{ path('home_view') }}" class="button is-blue is-inverted is-rounded">
                I'll do this later
            </a>
        </div>
    </div>

{% endblock %}