{% extends "base.html.twig"%}

{% block title %}

    Login | Zing
{% endblock %}

{% block body %}

    <nav class="navbar is-light is-fixed-bottom" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="">
                <img src="img/logo.png" width="45">
            </a>
        </div>
    </nav>

    <div id="login" class="columns is-centered is-halfheight">
        <div class="column is-one-fifth is-paddingless login-card">

            <div class="card-title">
                <h1>Login</h1>
            </div>

            <div class="content">
                {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>

        </div>
    </div>

{% endblock %}