{% extends "base.html.twig"%}

{% block title %}

    Profile | Zing
{% endblock %}

{% block body %}

    {% include 'components/navbar.html.twig' %}

    <section class="section">
        <div class="container">
            <div class="columns is-half">
                <div class="column">
                    First column
                </div>
                <div class="column">
                    Second column
                </div>
                <div class="column">
                    Third column
                </div>
                <div class="column">
                    Fourth column
                </div>
            </div>
        </div>
    </section>

{% endblock %}