{% extends "base.html.twig"%}

{% block title %}
    Ask a question | Zing
{% endblock %}

{% block body %}
    {% include 'components/navbar.html.twig'%}

    <div class="container main">
        <div id="question" href="">
            <div class="card">
                <div class="card-header">
                    <div class="card-header-title">
                        Ask a question
                    </div>
                </div>
                <div class="card-content">

                    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

    {% block script %}
        <script>
            //Text Area Resizing from https://blog.invoiceberry.com/2011/03/dynamically-change-the-height-of-a-textarea-based-on-the-text-javascript/

            function do_resize(textbox) {

                var maxrows = 5;
                var txt = textbox.value;
                var cols = textbox.cols;

                var arraytxt = txt.split('\n');
                var rows = arraytxt.length;

                for (i = 0; i < arraytxt.length; i++) 
                    rows += parseInt(arraytxt[i].length / cols);
                
                if (rows > maxrows) 
                    textbox.rows = maxrows;
                else 
                    textbox.rows = rows;
                }
        </script>
    {% endblock %}
{% endblock %}