<div>
    <nav class="level">
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Members</p>
                <p class="title">3,456</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Banned Members</p>
                <p class="title">123</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Posts</p>
                <p class="title">456K</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">zings</p>
                <p class="title">89K</p>
            </div>
        </div>
    </nav>
</div>