{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="has-text-centered banned-text">
            <h1 class="title is-1">YOU ARE
                <span class="has-text-danger">BANNED</span></h1>
            <h2 class="subtitle">Be gone!</h2>
        </div>
    </div>

{% endblock %}