<div class="columns">
    <div class="column is-three-quarters">
        {% if user.replys | length is same as(0) %}
            <p>You havent answered anything yet</p>
        {% else %}
            {% for reply in user.replys %}
                <div class="box is-clearfix">

                    {% include 'components/reply.html.twig' with {
                        'reply' : reply
                    } %}
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="column is-one-quarter side-bar">
        <div class="box"></div>
    </div>
</div>