{% if user.replys | length is same as(0) %}
    <p>Nothing answered yet</p>
{% else %}
    {% for reply in user.replys %}
        <div class="box is-clearfix">

            {% include 'components/reply.html.twig' with {
                'reply' : reply
            } %}
        </div>
    {% endfor %}
{% endif %}