<div class="columns">
    <div class="column is-three-quarters">
        {% if app.user.questions | length is same as(0) %}
            <p>You havent asked anything yet</p>
        {% else %}

            {% for question in app.user.questions %}
                <div class="box is-clearfix">
                    {% include 'components/question.html.twig'
                    with {
                        'question' : question
                    } %}

                </div>
            {% endfor %}
        {% endif %}

    </div>
    <div class="column is-one-quarter side-bar">
        <div class="box"></div>
    </div>
</div>