{% if user.questions | length is same as(0) %}
    <p>Nothing asked yet</p>
{% else %}

    {% for question in user.questions %}
        <div class="box is-clearfix">
            {% include 'components/question.html.twig'
            with {
                'question' : question
            } %}

        </div>
    {% endfor %}
{% endif %}