<div class="columns">
    <div class="column is-half">

        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Username</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <p class="control">
                        <input class="input is-rounded" type="text" value="{{ app.user.username }}" disabled="disabled">
                    </p>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Email</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <p class="control">
                        <input class="input is-rounded" type="text" value="{{ app.user.email }}" disabled="disabled">
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>