<article class="media">
    <figure class="media-left">
        <p class="image is-64x64">
            <img src="https://bulma.io/images/placeholders/128x128.png">
        </p>
    </figure>
    <div class="media-content">
        <div class="content">
            <p>
                <small>@username</small>
                <small>31m</small>
                <br>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
            </p>
        </div>
        <hr class="navbar-divider">
        <nav class="level is-mobile">
            <div class="level-left"></div>
            <div class="level-right">
                <a class="level-item">
                    <span class="icon is-small is-inactive zing">
                        <i class="fas fa-bolt"></i>
                    </span>
                </a>
                <a class="level-item">
                    <span class='tag is-yellow is-outline status is-uppercase'>3 Answers</span>
                </a>
                <a class="level-item">
                    <span class="icon is-small is-blue">
                        <i class="fas fa-reply"></i>
                    </span>
                </a>

            </div>
        </nav>

    </div>
</article>